
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.App {
  padding: 20px;
}


.header h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
}


.search-box {
  text-align: center;
  margin-bottom: 20px;
}

.search-box input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}


.fact-box {
  background-color: #fff;
  padding: 10px;
  margin: 0 auto 20px auto;
  width: fit-content;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-weight: bold;
  color: #444;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  width: 220px;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #555;
}


.user-box {
  text-align: center;
  margin-bottom: 20px;
}

.user-box button {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.user-box button:hover {
  background-color: #eee;
}

.user-box p {
  font-size: 18px;
  margin-bottom: 10px;
}
